snippet author "→ file author" w
:: ${1:file-nme}:
::     ${2:brief}
:: author: Everett
:: created: `!v strftime("%Y-%m-%d %H:%M")`
endsnippet

snippet ref "+ ref" w
:: see:
:: $1
:: accessed: `!v strftime("%Y-%m-%d %H:%M")`
endsnippet

snippet todo "→ todo" w
:: todo:
::     $1
:: date: `!v strftime("%Y-%m-%d %H:%M")`
endsnippet
