snippet embedl "+ linked text"
[${1:text}](${2:link})
endsnippet

snippet bold "+ bold"
__${1:bold}__
endsnippet

snippet ital "+ italize"
*${1:italics}*
endsnippet

snippet code "+ code snippet"
* ${1:code-snippet-title}
\`\`\`${2:syntax}
${3:code-snippet}
\`\`\`
endsnippet

snippet comm " + comment"
[]: # '${1:comment}'
endsnippet

snippet block " + comment"
<!---
${1:comment}'
-->
endsnippet
